<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://www.twittaddict.com/favicon.ico" />
    <title>twittaddict</title>
    	<%= stylesheet_link_tag :all %>
    </head>
    <body>
      <div class="main_content">
        <div class="main_image"><%= image_tag "screenshots.png"%></div>
        <div class="main_text">
          <div class="icon"><%= image_tag "icon.png"%></div>
          <div class="tagline">Finally! A way to prove you spend a lot of time on Twitter!</div>
            <p>Do you know what your Twitter friends are going to tweet before they do?</p>
            <p>Do you always know who tweeted what?</p>
            <p>Now you have the chance to show off these important life skills with twittaddict!</p>
            <ul> 
            <li>Find out who your Twitter BFF is!</li>
            <li>Are you a twittdominator?  Compare scores with Game Center!</li>
            <li>Unlock achievements and become twittawesome! </li>
            <p class="support">Questions or suggestions? Contact <%= mail_to "support@twittaddict.com"%></p>
            <p class="badge"><%= link_to (image_tag "badge.png", :border => 0), "http://itunes.apple.com/us/app/twittaddict/id418483374?mt=8&uo=4"%></p>
            <p class="badge"><%= link_to (image_tag "android_badge.png", :border => 0), "https://market.android.com/search?q=twittaddict&so=1&c=apps"%></p>
      </div>
  </body>
</html>